

@font-face {
    font-family: "Antonio";
    src: url("../fonts/antonio-regular-webfont.woff2") format("woff2"),
         url("../fonts/antonio-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Antonio Bold";
    src: url("../fonts/antonio-bold-webfont.woff2") format("woff2"),
         url("../fonts/antonio-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: "Antonio Light";
    src: url("../fonts/antonio-light-webfont.woff2") format("woff2"),
         url("../fonts/antonio-light-webfont.woff") format("woff");
    font-weight: Light;
    font-style: normal;

}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"),
         url("montserrat-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"),
         url("../fonts/montserrat-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
         url("../fonts/montserrat-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}


body {
  margin: auto;
}

header {
  background: #202;
  overflow: hidden;
}

h1 {
  font-family: Antonio;
  font-size: 3.5em;
  color: #989;
  margin-top: .1em;
  margin-left: .4em;
  padding-bottom: .1em;
}

h4 {
  font-family: serif;
  font-size: .8em;
  padding-top: 5em;
  margin-left: 2em;
  margin-bottom: .1em;
  color: #989;
}

nav ul {
	list-style: none;
	padding-left: 0;
  padding-bottom: 1em;
  font-size: .6em;
}

nav li {
	margin: .75em 0;
}

a {
	color: #989;
	text-decoration: none;
	padding-bottom: .2em;
	border-bottom: 1px dashed transparent;
	transition: border-bottom .5s ease-in-out;
}

nav.inline {
	/*  inline class */
}

nav.inline ul {
	text-align: center;
	background: #202;
	margin: 0;
}

nav.inline li {
	display: inline;
	margin-right: -.25em; /* tighten-up gaps (letter-spacing) */
}

nav.inline a {
	display: inline-block;
	color: #989;
	background: #202;
	padding: 1em;
	border: 0;
}

nav.inline a:hover {
	background: #ff3;
}

section {
  margin: auto;
  overflow: hidden;
  background: #f98;
}

h2 {
  font-family: Montserrat Bold;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff;
  margin-left: 1em;
}

h6 {
  font-family: "Montserrat";
  font-size: .55em;
  text-transform: uppercase;
  letter-spacing: .090em;
  color: #666;
  margin-left: 3em;
  margin-bottom: .3em;
}

.white {
  font-family: Antonio;
  font-size: 5.5em;
  color: #fff;
  text-transform: uppercase;
  margin-top: .12em;
  margin-left: .25em;
  margin-bottom: -.4em;
}

.grey {
  font-family: Antonio;
  font-size: 5.5em;
  letter-spacing: -.055em;
  color: #555;
  text-transform: uppercase;
  margin-left: .3em;
  margin-top: .2em;
  margin-bottom: -.4em;
}

.percent {
  font-size: .28em;
}

.serif {
  font-family: Century, serif;
  text-transform: inherit;
  font-size: .6em;
  padding-bottom: 1.5em;
  border-bottom: 1px dotted #444;
}

.numbers {
  font-family: Montserrat Bold
}

h5 {
  font-family: Montserrat;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #555;
  margin-top: .1em;
  margin-left: 1.3em;
  margin-bottom: -1em;
}

dl {
  display: inline-block;
  position: relative;
  padding-bottom: 1px;
  margin-left: 1.5em;
  overflow: hidden;
}

dt {
  float: left;
  font-family: serif;
  font-size: .7em;
  background: #fff;
  color: #444;
}

dd {
  font-family: Montserrat;
  font-size: .6em;
}

dd:after {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 1px solid #fff;
}

.ryan {
  display: inline-block;
  width: auto;
  padding-right: 4em;
  margin-right: -4em;
}

.numbers-one {
  margin-left: 15.5em;
}

.numbers-two {
  margin-left: 16em;
}

.numbers-three {
  margin-left: 16em;
}
.numbers-four {
  margin-left: 16em;
}
.numbers-five {
  margin-left: 16em;
}
.numbers-six {
  margin-left: 16em;
}
.numbers-seven {
  margin-left: 16em;
}

.numbers-eight {
  margin-left: 16em;
}

.numbers-nine {
  margin-left: 16em;
}

.numbers-ten {
  margin-left: 16em;
}

.numbers-eleven {
  margin-left: 16em;
}

.numbers-tweleve {
  margin-left: 16em;
}

.numbers-thirteen {
  margin-left: 16em;
}

